
body{
  font-size: 16px;
  font-family: 'Merriweather', serif;
  position: relative;
  padding-left: 0px;

}
.title{
  background-color: #170055;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1{
  color: #fff;
  font-family: 'Merriweather', serif;

}
.noidung{
  color: #FFE459;
  font-weight: bolder;
  font-size: 2rem;

}
.page-item{

    margin: 5px 3px 5px 3px;
}
.bang-tt{
  width: 45%;
  margin: auto;
  margin-top: 1%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
.bang-tt{
  font-size: 1rem;
  width: 100%;
  margin:auto;
}
.banggoicuoc{
    width: 100%
    text-align: center;
}
.title-goicuoc{
    font-size: 2rem;
}

}
.row{
  margin: auto;
  width: 100% ;
}
#navbarText{
  font-size: 1.5rem;

}
.nav-link{
  margin: 0px 10px;
  color: #353535;

}
.navbar{
  background-color: #ffca44;

}
.stb{
  color: red;
  font-weight: bold;
}
.price{
  color: green;
  font-weight:bolder;
}

.footer{

  background-color: #F8F8F8;
    text-align: center;
  font-size: 0.9rem;
  margin-top: 1%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  padding: 20px 20px;

}

.timso{
  color: blue;
  font-weight: bolder;
  font-size: 1rem;
   text-align: center;
}

.chonsim{
  padding-right: 20px;
  font-size: 1.5rem;
}
#cars{
  margin-right: 20px;
  padding-right: 40px;
}
.pagination{

  margin-top: 20px;
}
.container{
  position: relative;
  text-align: center;
  margin-top: 2%;

}
.middle{
  position: relative;
  top:0px;
}
.mf150{
  text-align: center;
  padding: 3% 7%;
}
.icon-box{
  color: red;
  margin-top: 3%;
}
h3{
  font-size: 3rem;
  line-height: 2;
}
.goi{
  font-size: 3rem;
  font-weight: bolder;
  color: red;
  font-family: 'Merriweather', serif;
  width: 100%;
}
p{
  color: grey;

}
.d-block{
  height: 400px;
}
.bangchuyen{
  width: 90%;

  margin: 1% auto;
}
.dropdown{
	position: relative;
	display: inline-block;

}
.dropdown-item{
  font-size: 1.5rem;
}
.dropdown:hover .dropdown-menu{
	display: block;
}

.dongdathang{
  background-color: #F3F0D7;


}
.cotdathang{
  padding: 2% 20%;
  margin: 1% auto;

}
.stb{
   color: red;
  font-weight: bold;
}
#icon-mail{
color: #4682B4;

}
#icon-zalo{
    width: 75px;
    margin-bottom: 22px;
}
#icon-fb{
    color: blue;

}
.banggoicuoc{
  position:fixed;
  width:30%;
   top: 17%;
  height: auto;
  left:0px;
  text-align: center;
  margin:10% auto 5% auto;
  padding-right: 3%;

}
.btn-timkiem{
    margin: 10px 0px 10px 0px;
}
.title-goicuoc{
  color: white;
  font-size: 1rem;

}
.goidb{
    color: blue;
    font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .banggoicuoc{
    position: relative;
    width:100%;
    top:5%;
    font-size: 12px;
    bottom: 5%;
    text-align: center;
    margin: 50px 0px 20px 0px;
    padding-right: 0;
    padding-left: 0;
  }
   .title-goicuoc{
      font-size: 1.3rem;
  }
  .bang-tt{
  font-size: 1rem;
  width: 100%;
  margin:auto;
}

}
#navbar{
position:fixed;
top: 0px;
}

.dongchonso{
    text-align: center;
}






