{% extends "base.html" %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
</head>
<div class=" banggoicuoc">


  <table class="table table-sm table-bordered table-striped">
<thead>
  <tr class="bg-primary title-goicuoc">
    <td>Gói Cước</td>
    <td>Giá</td>
    <td>Ưu đãi</td>
  </tr>
</thead>
<tbody>
 <tr>
   <td>MF69</td>
   <td>69.000đ/tháng</td>
   <td>1.000 phút NM</td>
   </tr>
   <tr>
     <td>MF99</td>
     <td>99.000đ/tháng</td>
     <td>1.000 phút NM<br>50 phút LM<br>4GB/ tháng</td>
     </tr>
     <tr>
       <td>MF149</td>
       <td>149.000đ/tháng</td>
       <td>1.000 phút nội mạng <br>4GB/ tháng</td>
       </tr>
 </tbody>
</table>
</div>
<div class="container ">
  <form class="timso" action="{{ url_for('trasau') }}" method="post">
      <div class="col-lg-12">
          <label for=""class="chonsim">Tìm Theo Số</label>
          <input type="text" size="4" name="socantim" value="{{socantim}}" class="btn-timso">

    <label for="cars" class="chonsim">Chọn Dạng Số</label>

    <select name="cars" id="cars" >
      <option  value="{{dangso}}">{{ dangso }}</option>
      <option value="All">All</option>
      <option value="Sảnh 3 Con">Sảnh 3 con</option>
      <option value="Tam Cô">Tam Cô</option>
      <option value="Sảnh 4 Con">Sảnh 4 con</option>
      <option value="Tứ Quý">Tứ Quý</option>
      <option value="ABAB">ABAB</option>
    </select>
      <button type="submit" class="btn btn-success">Tìm Kiếm</button><br>
  </div>
  </form>
  <div class="bang-tt">
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col-3">STT</th>
          <th scope="col-3">Số Thuê Bao</th>
          <th scope="col-3">Gói Cước</th>
          <th scope="col-3">Đặt Mua</th>
        </tr>
      </thead>
      <tbody>
        {% for sim in all_sim_ts.items %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td class="stb">{{ sim.sothuebao }}</td>
          <td class="price">{{ sim.goicuoc }}</td>
          <td><a href=""><button type="submit" class="btn btn-primary btn-sm">Đặt Mua </button></a></td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>
<div class="abc">
<nav aria-label="Page-navigation example">

  <ul class="pagination">

    {% if all_sim_ts.has_prev %}

      <li class="page-item"><a class="page-link" href="{{ url_for('trasau', page=all_sim_ts.prev_num, dangso=dangso, socantim=socantim) }}">Previous</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="">Previous</a></li>
    {% endif %}

    {% for page in all_sim_ts.iter_pages(left_edge=1, right_edge=1,left_current=0, right_current=1) %}

     {% if page %}
        {% if page==all_sim_ts.page %}

          <li class="page-item active" ><a class="page-link" href="{{ url_for('trasau', page=page, dangso=dangso, socantim=socantim) }}" >{{ page }}</a></li>
        {% else %}
          <li class="page-item" ><a class="page-link" href="{{ url_for('trasau', page=page, dangso=dangso, socantim=socantim) }}" >{{ page }}</a></li>
        {% endif %}
      {% else %}
          <li class="page-item disabled" ><a class="page-link" href="" >...</a></li>
    {% endif %}
     {% endfor %}

    {% if all_sim_ts.has_next %}
      <li class="page-item"><a class="page-link" href="{{ url_for('trasau', page=all_sim_ts.next_num, dangso=dangso, socantim=socantim) }}">Next</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="">Next</a></li>
    {% endif %}


  </ul>

</nav>
</div>

{% endblock %}